html, body{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
}
.bg-light{
    background-color: transparent !important;
}
h4{
    margin-right: 2%;
  }
.page-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
}

/* first window css */
.front-window{
    display: inline-block;
    /* background-color: red; */
    text-align: center;
}
.front-window button{
    /* display: inline-flex; */
    margin: 10px 1.5%;
    width: 15%;
}
#happy-emoji-container, #neutral-emoji-container, #sad-emoji-container{
    height: 50vh;
    width: 100%;
    display: none;
    margin-top: 5%;
    border-top: 2px solid #102542;
    /* background-color: #6DD5FA; */
}
#happy-emoji-container span, #neutral-emoji-container span,  #sad-emoji-container span{
    font-size: 2em;
}
.x-button{
    border: none;
    padding: 15px;
    font-size: 18pt;
    border-radius: 50px;
    color: #102542;
    display: block;
    margin-left: auto;
    background-color: transparent;
    outline: none !important;
    box-shadow: none;
}
.x-button:hover{
    text-shadow: 0px 0px 5px #A1CDF1;
}

/* modal styles */
#emoji-icon{
    font-size: 7em;
    text-align: center;
}
